.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.sidebarContainer {
}

.btn_sideBarVisible {
    position: fixed;
    left: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 36px;
    z-index: 2;
}

.sidebar {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 150px;
    padding-left: 10px;
    padding-top: 10px;
    border-right: solid rgba(0, 0, 0, 0.2) 2px;
    background-color: #FFFFFF;

    a {
        position: relative;
        top: 40px;
    }

    ul {
        padding: 0;
    }

    li {
        margin-top: 10px;
        font-size: 18px;
    }

    .btn_sideBarClose {
        position: absolute;
        right: 5px;
        top: 5px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 20px;
    }
}