/* * {
    box-sizing: border-box;
} */
label {
    cursor: pointer;
}
li {
    list-style: none;
}
input[type=radio] {
    cursor: pointer;
}


.center {
    text-align: center;
}

.searchTextBox {
    width: 300px;
    margin-right: 10px;
}

.button {
    margin-right: 10px;
}

.searchRadio {
    margin-left: 20px;
}

.addChara {
    margin-top: 5px;
}
.addChara button {
    margin-left: 5px;
}

.selected {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 30px;
    background-color: #ffffaa;
}

.selectedData {
    vertical-align: middle;
}

.title {
    text-decoration: underline;
}